default:
  image: docker:latest
  services:
    - name: docker:dind

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2
  VERSION: $CI_COMMIT_TAG
  PACKAGE_NAME: "openbq"
  LINUX_BIN: "${PACKAGE_NAME}-${VERSION}"
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${PACKAGE_NAME}/${VERSION}"
  UV_VERSION: "0.9.30"
  PYTHON_VERSION: "3.14"
  BASE_LAYER: trixie-slim
  UV_LINK_MODE: copy

stages:
  - release

.tag_rules:
  rules:
    - if: $CI_COMMIT_TAG

.commit_rules:
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual

bin:build:
  stage: release
  image: debian:13
  rules:
    - if: $CI_COMMIT_TAG
  before_script:
    - apt update -y
    - apt install -y python3 python3-pip pipx
    - pipx install uv
  script:
    - mkdir bin
    - cd cli
    - echo "building for Debian 13 Trixie"
    - /root/.local/bin/uv sync --locked --group dev
    - /root/.local/bin/uv run pyinstaller -F src/bqat/cli.py -n ${LINUX_BIN}
    - mv dist/${LINUX_BIN} ../bin
  cache:
    key:
      files:
      - uv.lock
  artifacts:
    paths:
    - bin/
  rules:
    - !reference [.commit_rules, rules]
    - !reference [.tag_rules, rules]

bin:upload:
  stage: release
  needs:
    - job: bin:build
  image: curlimages/curl:latest
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "upload debian exe binary files to package registry"
    - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file bin/${LINUX_BIN} "${PACKAGE_REGISTRY_URL}/${LINUX_BIN}"'
  rules:
    - !reference [.commit_rules, rules]
    - !reference [.tag_rules, rules]

pypi:wheel:
  stage: release
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  id_tokens:
    PYPI_ID_TOKEN:
      aud: pypi
  script:
    - cd cli
    - uv build --wheel
    - uvx twine upload dist/*
  rules:
    - if: $CI_COMMIT_TAG
      when: manual
  
gitlab:wheel:
  stage: release
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
    TWINE_REPOSITORY_URL: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
  script:
    - cd cli
    - uv build --wheel
    - uvx twine upload dist/*
  rules:
    - !reference [.commit_rules, rules]
    - !reference [.tag_rules, rules]

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: bin:upload
    # - job: pypi:whee
    - job: gitlab:wheel
  script:
    - echo "releasing with new version tag"
  release:
    tag_name: '$CI_COMMIT_TAG'
    description: '$CI_COMMIT_TAG'
    assets:
      links:
      - name: "Python Wheel"
        url: 'https://gitlab.com/openbq/bqconnect-cli/-/packages'
      - name: "Binary Executable"
        url: '${PACKAGE_REGISTRY_URL}/${LINUX_BIN}'
  rules:
    - !reference [.commit_rules, rules]
    - !reference [.tag_rules, rules]